
/* Universal */
html {
  font-size: 18px;
  line-height: 1.4;
  font-family: helvetica; sans-serif;

}

div {
  display: block;
  border: 1px solid black;
}

h1 {
  font-family: helvetica;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
}

.container {
  max-width: 960px;
  margin: 0 auto;

}

/* Header */
header {
  display: block;
  background-image: url("../images/glasses-bg.png");
  height: 30rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;




}

header.container {

}

.header {
  display: flex;
  padding: 1rem 0;
  margin-top: 1rem;
  background-color: cadetblue;
  color: white;
  justify-content: space-between;
  align-items: center;
}

.logo-block {
  display: flex;
  flex-direction: row;


}

.logo-block
 img {
  height: 1.5rem;
  padding-left: 2rem;
  padding-right: 1rem;
}

.logo-block
p {
  display: flex;
  align-items: center;
}

.nav-block {
  display: flex;
  flex-direction: row;

}

ul li {
  display: inline;
  padding: 2rem;
}

.drop-down {
  display: none;
}

.banner-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

}

.banner-content h1 {
  color: black;
  padding: 1.5rem 5rem;
  margin: 10rem -2rem 0 0;
  background-color: white;
}

/* Img Banner */

.icon-banner {
  display: flex;
  justify-content: center;
}

.icon-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  width: 5rem;
  height: 8rem;
  margin: 3rem 3rem 3rem 3rem;

}


.icon-box img {
  margin-bottom: 1rem;
  width: 5rem;
}

.icon-box .paper-icon {
  width: 3.5rem;
}

.icon-title {
  display: block;
}

/* About Us Section */

.about {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 5rem;
}

.content-box {
  display: flex;
  flex-direction: column;
  width: 35%;
  padding: 0 2.5% 0 0;
}


.content-title h4 {
  font-family: helvetica;
  font-weight: bold;
  font-size: 1rem;
  background-color: cadetblue;
  color: white;
  padding: .5rem 0rem .5rem 1.25rem;
  text-align: left;
  width: 10rem;
}

.about-content {
  padding-top: 1rem;
}

/* Footer */
footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: azure;
}

footer
img  {
  height: 1.5rem;
  padding: 4rem 1rem 4rem 4rem;
}

/* Screen with max-width of 1024 px */

@media only screen and (max-width: 1024px) {
  header .container {
    width: 100%;
  }

  header {
    padding-top: 0;
    height: 22rem;

  }

  .header {
    margin-top: 0;
  }

  .banner-content h1 {
    padding: 0.75rem 4rem;
    margin: 5rem 2rem 0 0;
  }
}

/* Screen with max width of 750px */

@media only screen and (max-width: 790px) {
  .logo-block p {
    display: none;
  }

  .menu {
    display: none;
  }

  .drop-down {
    display: block;
  }

  header {
    height: 17rem;
    background-position: 25%;
  }

  .banner-content h1 {
    padding: 1rem;
    margin: 9rem 0 0 0;
    width: 100%;
    font-size: 1rem;
    text-align: center;
  }

  .icon-banner {
    flex-direction: column;
    font-size: 0.77rem;
    align-items: center;
    margin-top: 3rem;
    justify-content: flex-start;
  }

  .icon-box {
    padding: .77rem;
    height: auto;
  }

  .about {
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  .content-box {
    width: 100%;
  }

  .about-content {
    padding-top: 1rem;
    padding-bottom: 4rem;
    font-size: 0.77rem;
  }

  .content-title h4 {
    width: 100%;
    text-align: center;
  }
}
